* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page-header,
.page-footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.page-body {
  flex-grow: 1;
}

.main_section_headersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main_section_bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.modal-body > div {
  font-style: italic;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-image {
  background-image: url("../images/bg-banner.jpeg");
  /*background-image: url("../images/school-colorful-theme-set.jpeg");
  background-image: url("../images/banner-yellow.jpeg");
  background-image: url("../images/flat-lay-desktop-copy-space.jpeg");*/
  background-size: cover;
  background-repeat: no-repeat;
}
